<%= form_for(@store, :url => { :action => "update_column_active" }) do |f| %>
	<%= f.hidden_field :id, value: id %>
	<% if active == false %> 
	<td align="left"><%= f.submit :Ativar, class:"btn be-red white" %></td>
	<% else %>
	<td align="left"><%= f.submit :Desativar, class:"btn be-red white" %></td>
	<% end %>
<% end %>