<div class="field">
	<h3>Quem Somos</h3>
</div>
Somos um aplicativo sobre suplementos, que contem lojas de suplementos
<p/>
Funcionalidades Para Lojas: 
<p/>
Todas no site
<p/>
1. As lojas se cadastram no site e adicionam o produtos para a sua loja
<p/>
2. As lojas podem ver suas vendas que foram realizadas atraves do aplicativo
<p/>
3. As lojas podem enviar ou cancelar uma venda
<p/>
4. As lojas confirmam as vendas
<p/>
5. As lojas podem dar sugestões de suplementos
<p/>
Funcionalidades Para Clientes:
<p/>
Todas no aplicativo
<p/>
1. Os clientes podem se cadastrar no aplicativo
<p/>
2. Os clientes, para visualizarem as lojas e produtos não necessitam se cadastrar
<p/>
3. Os clientes podem comprar produtos, mas só se tiverem cadastrados
<p/>
4. Os clientes podem escolher a forma de pagamento
<p/>
5. Os clientes podem escolher o endereço de entrega
<p/>