<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nova Compra Realizada Através Da Loja: <%= @store.name %></h1>
    <p>
      Sr. <%= @store.name_responsible %>, Uma Nova Compra Foi Realizada Na Sua Loja, Verifique Sua Home No Nosso Site Para Mais Informações Sobre A Compra!<br>
    </p>
    <p>Obrigado Pela Atenção!</p>
  </body>
</html>